<h1><%= title %></h1>

<% if (messages && messages.length) { %>
    <div class="flash-message">
        <%= messages %>
    </div>
<% } %>

<p>You're logged in!</p>
<% if (accountDate) { %>

      <% if (accountDate.account_type === 'Client') { %>

        <h2>Welcome <%= accountData.account_firstname %></h2>
         <p>
            <a href="/account/update/<%= accountData.account_id %>" class="btn-update">Update Account Information</a>
        </p>
        <% } else if (accountData.account_type === 'Employee' || accountData.account_type === 'Admin') { %>
        <h2>Welcome <%= accountData.account_firstname %></h2>
          <!-- Update account link (appears above Inventory Management) -->
        <p>
            <a href="/account/update/<%= accountData.account_id %>" class="btn-update">Update Account Information</a>
        </p>
            <h3>Update Management</h3>
            <p>
            <a href="/inv/" class="btn-inventory">Access Inventory Management</a>
        </p>

         <% } else { %>
        <h2>Welcome <%= accountData.account_firstname %></h2>
    <% } %>
    

<div class="account-info">
    <h2>Account Information</h2>
    <!-- <% if (accountData) { %> -->
        <p><strong>Name:</strong> <%= accountData.account_firstname %> <%= accountData.account_lastname %></p>
        <p><strong>Email:</strong> <%= accountData.account_email %></p>
        <p><strong>Account Type:</strong> <%= accountData.account_type %></p>
    </div>
    <% } else {%>
        <p>Account Information not available.</p>
        <% } %>

<a href="/account/logout" class="logout-btn">Logout</a>
